# don't track these folders
**/data/
**/plots/

# ignore postgres connection script (it includes database pw)
**/pgConnect.py
**/pg_connect.py

# ignore clickhouse.py test file as it includes db pw
*clickhouse*

# ignore tensorflow test script. it's just a playground
tensorflow-test.py

**/__pycache__/
